.info-cards-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2%;
  row-gap: 20px;

  > * {
    flex-basis: 49%;
    max-width: 49%;
  }

  .ant-card {
    height: 100%;
  }

  .goals-container {
    .progress-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 20px 0;

      > * {
        flex-grow: 1;

        &.label {
          flex-grow: 0;
          flex-basis: 15%;
          padding: 0 15px;

          p {
            display: flex;
            justify-content: flex-end;
          }
        }

        .ant-progress-outer {
          width: 100% !important;
        }
      }
    }
  }

  .top-selling-prods-container {
    .item-container {
      flex: 1;
      .header {
        display: flex;
        align-items: center;

        h5 {
          padding-left: 10px;
        }
      }

      .values {
        display: flex;
        column-gap: 30px;
        padding: 10px 45px;

        .measure {
          display: flex;
          column-gap: 10px;

          > * {
            display: flex;
            align-items: center;
            border-radius: 50px;
            column-gap: 5px;
          }

          div {
            padding: 0 5px;
          }
        }
      }
    }
  }

  .chart-info-container {
    .ant-card-head-title {
      padding: 10px 0;
    }

    .title {
      display: flex;
      align-items: center;

      div {
        display: flex;
        padding: 5px;
        border-radius: 50px;
        margin-left: 10px;
      }
    }

    .chart-container {
      height: 250px;
    }

    .footer {
      padding-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }

  .activity-container {
    .icons {
      display: flex;
      justify-content: flex-end;
      column-gap: 5px;
    }

    .content {
      padding-top: 25px;
    }
  }

  .active {
    background: #ecfdf3;
    color: #12b76a;
  }

  .expired {
    background: #fef3f2;
    color: #f04438;
  }
}
