body {
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  font-family: 'Inter';
}

.app-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.home-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: scroll;
}

.semi-bold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
}

.secondary {
  color: #667085;
}

h6 {
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  font-family: 'Inter';
}

h5 {
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  font-family: 'Inter';
}

h4 {
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
}

h3 {
  font-size: 28px;
  line-height: 1.2;
  margin: 0;
  font-family: 'Inter';
}

h2 {
  font-size: 32px;
  line-height: 1.2;
  margin: 0;
  font-family: 'Inter';
}

p {
  font-family: 'Inter';
  margin: 0;

  &.sm {
    font-size: 12px;
    line-height: 1.5;
  }
  &.md {
    font-size: 14px;
    line-height: 1.4;
  }
  &.large {
    font-size: 16px;
    line-height: 1.5;
  }
}

.ant-select {
  font-family: 'Inter';
}

:where(.css-dev-only-do-not-override-zcfrx9).ant-select-single
  .ant-select-selector {
  font-size: 12px;
}
