body {
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  font-family: 'Inter';
  overflow-y: scroll;
}

.logo {
  display: flex;
  color: white;
  padding: 10px;
  align-items: center;

  img {
    width: 50px;
  }

  &.collapsed {
    div {
      display: none;
    }
  }
}

.home-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.semi-bold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
}

.secondary {
  color: #667085;
}

h6 {
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
}

h5 {
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
}

h4 {
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
}

h3 {
  font-size: 28px;
  line-height: 1.2;
  margin: 0;
}

h2 {
  font-size: 32px;
  line-height: 1.2;
  margin: 0;
}

p {
  margin: 0;

  &.xs {
    font-size: 10px;
    line-height: 1.6;
  }

  &.sm {
    font-size: 12px;
    line-height: 1.5;
  }
  &.md {
    font-size: 14px;
    line-height: 1.4;
  }
  &.large {
    font-size: 16px;
    line-height: 1.5;
  }
}

:where(.css-dev-only-do-not-override-zcfrx9).ant-select-single
  .ant-select-selector {
  font-size: 12px;
}

.ant-modal .ant-modal-content {
  padding: 0;

  .ant-modal-header {
    padding: 20px;
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);
    margin: 0;
  }

  .ant-modal-body,
  .ant-modal-footer {
    padding: 20px 25px;
    text-align: start;
    margin: 0;
  }
}

.ant-avatar {
  background-color: #f4ebff;
  .anticon,
  .ant-avatar-string {
    color: #7f56d9;
  }
}

.ant-layout .ant-layout-sider {
  background-color: #101828;
  .ant-layout-sider-trigger,
  .ant-menu-dark {
    background-color: #101828;
  }
}
